<% include('header') %>
    <h1>Dashboard nya</h1>
    <p>Welcome, <%- user.username %>.</p>
    <% for (var i = 0; i < messages.length; i++) { %>
        <p><%- messages[i].title %></p>
    <% } %>
<% include('footer') %>