<% include('header') %>
    <h1>Dashboard nya</h1>
    <p>Welcome, <%= user.username %>.</p>
    <h3>Inbox</h3>
    <% if (messages.length == 0) { %>
        <p>No messages, <i>yet</i>.</p>
    <% } else { %>
        <p>Messages:</p>
        <% for (var i = 0; i < messages.length; i++) { %>
            <p><%- messages[i].title %></p>
        <% } %>
    <% } %>
<% include('footer') %>