<body>
    <div class="container">
        <h1><%- drawbox.name.charAt(0).toUpperCase() + drawbox.name.slice(1) %>'s' Draw Box!</h1>
        <hr>
        <%- JSON.stringify(drawbox) %>
    </div>
</body>