<body>
    <div class="container">
        <h1><%- drawbox.name.charAt(0).toUpperCase() + drawbox.name.slice(1) %>'s' Draw Box!</h1>
        <canvas id="drawCanvas" width="200" height="200" style="border:1px solid #000000;"></canvas>
        <button id="submitDrawing">Submit Drawing</button>

        <script>
            const canvas = document.getElementById('drawCanvas');
            const ctx = canvas.getContext('2d');
            let drawing = false;

            canvas.addEventListener('mousedown', startDrawing);
            canvas.addEventListener('mouseup', stopDrawing);
            canvas.addEventListener('mousemove', draw);

            function startDrawing() {
                drawing = true;
                ctx.beginPath(); // Start a new path when mouse is pressed
            }

            function stopDrawing() {
                drawing = false;
                ctx.beginPath(); // Reset the path when mouse is released
            }

            function draw(event) {
                if (!drawing) return;
                ctx.lineWidth = 5;
                ctx.lineCap = 'round';
                ctx.strokeStyle = '#000000';

                ctx.lineTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
                ctx.stroke();
                ctx.beginPath();
                ctx.moveTo(event.clientX - canvas.offsetLeft, event.clientY - canvas.offsetTop);
            }

            document.getElementById('submitDrawing').addEventListener('click', () => {
                convertImage();
            });

            function convertImage() {
                var image = canvas.toDataURL("image/png");
                sendMessage(image);
            }

            function sendMessage(image) {
                var msg = JSON.stringify({ image: image });
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/addEntry', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(msg);
                xhr.onload = function() {
                    if (xhr.status == 200) {
                        alert('File is saved');
                    } else {
                        console.error('Error:', xhr.statusText);
                    }
                };
                setTimeout(() => {}, 2000);
                window.location.reload();
            }
        </script>
        <hr>
        <div class="image-gallery">
            <% drawbox.images.forEach(image => { %>
                <img src="/retrieveImage/<%= image.id %>" alt="Drawing" style="max-width: 200px; margin: 10px;">
            <% }); %>
        </div>
    </div>
</body>