</div>
<footer id="footer">
    <span>Service provided to you by Poyo! and the <a href="https://poyoweb.org/">PoyoWeb.org</a>.<br>
    PoyoBox.net is FOSS. Code available here: <a href="https://github.com/mrdapoyo/poyobox/">GitHub</a>.</span>
</footer>
</body>
</html>