<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoyoBook! · Free guestbooks for everyone :3</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <h1 class="title">PoyoBook! - <%= title %></h1>
    <% if (message) { %>
        <center><p class="message"><%= message %></p></center>
    <% } %>
    <hr>