:root {
    --primary: black;
    --secondary: #dff2ff;
    --message-background: red;
    --message-text: var(--primary);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'easvhs';
    src: url(/fonts/easvhs.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixelserif';
    src: url(/fonts/PIXEARG_.ttf);
}

body {
    background-color: #92dcff;
    background-image: url('/backgrounds/bg.jpeg');
    background-size: cover;
    color: var(--primary);
    font-family: 'easvhs', roboto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'pixelserif', roboto;
}

a {
    color: var(--primary);
}

input, button {
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: 0.3s;
}

button:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.megacontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 100%;
    margin-inline: auto;
    padding: 1vh;
    position: relative;
    background-color: var(--secondary);
}

.message {
    padding: 0;
    background-color: var(--message-background);
    color: var(--message-text);
    width: 100%;
    margin: 0;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.inbox-container {
    width: 50%;    
}

.drawing-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.drawing-container img {
    background-color: grey;
}

#header {
    height: 200px;
    width: 100%;
    background: #1c8fe0;
    background-image: url('/banners/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.title {
    margin-top: 0;
}

#footer {
    width: 75%;
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    padding: 1vh;
    margin-inline: auto;
}

#footer a {
    color: var(--secondary);
}